<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <!--后面两个属性用于获取id返回值-->
    <insert id="insert" parameterType="com.sky.entity.Dish" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
        values
        (#{name}, #{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>

    <select id="query" resultType="com.sky.vo.DishVO" parameterType="com.sky.dto.DishPageQueryDTO">
        select d.*, c.name as categoryName  from dish d left outer join category c on d.category_id = c.id
        <where>
            <if test="name != null and name != ''">
                d.name like concat('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
        order by d.create_time desc
    </select>

    <delete id="deleteByIds">
        delete from dish where id in
        <foreach collection="ids" item="dishId" separator="," open="(" close=")">
            #{dishId}
        </foreach>
    </delete>

    <select id="getByIds" resultType="com.sky.entity.Dish">
        select * from dish where id in
        <foreach collection="ids" item="dishId" separator="," open="(" close=")">
            #{dishId}
        </foreach>
    </select>

    <update id="update" parameterType="com.sky.entity.Dish">
        update dish
        <set>
            <if test="categoryId != null">category_id = #{categoryId}, </if>
            <if test="description != null and description != ''">description = #{description}, </if>
            <if test="image != null and image != ''">image = #{image}, </if>
            <if test="name != null and name != ''">name = #{name}, </if>
            <if test="price != null">price = #{price}, </if>
            <if test="status != null">status = #{status}, </if>
            <if test="updateTime != null">update_time = #{updateTime}, </if>
            <if test="updateUser != null">update_user = #{updateUser}, </if>
        </set>
        where id=#{id}
    </update>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from dish
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>
</mapper>
